<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/constr16.png">
         <run
               class="compling.gui.grammargui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="compling.gui.grammargui.ui.perspectives.BrowsePerspective"
            fixed="true"
            id="compling.gui.grammargui.perspectives.default"
            name="Browsing">
      </perspective>
      <perspective
            class="compling.gui.grammargui.ui.perspectives.AnalysisPerspective"
            fixed="false"
            id="compling.gui.grammargui.perspectives.Analysis"
            name="Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="compling.gui.grammargui.constructionsPopup"
            targetID="compling.gui.grammargui.menus.view">
         <menu
               id="compling.gui.grammargui.menus.constructionsMenu"
               label="View 2"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="compling.gui.grammargui.ui.actions.OpenConstructionDelegate"
               id="compling.gui.grammargui.actions.openConstruction"
               label="Open Construction 2"
               menubarPath="compling.gui.grammargui.menus.constructionsMenu/content"
               style="push"
               tooltip="Open a new Construction page">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="compling.gui.grammargui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="compling.gui.grammargui.builder.ToggleNatureAction"
               enablesFor="+"
               id="compling.gui.grammargui.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="compling.gui.grammargui.actions.fileActionSet"
            label="File Action Set"
            visible="true">
         <action
               class="compling.gui.grammargui.ui.actions.OpenFileAction"
               definitionId="compling.gui.grammargui.commands.OpenFile"
               icon="icons/open.gif"
               id="compling.gui.grammargui.actions.OpenFile"
               label="&amp;Open Preferences File..."
               menubarPath="project/new.ext"
               style="push"
               toolbarPath="compling.gui.grammargui.project/open.ext"
               tooltip="Open an ECG Preferences File">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="compling.gui.grammargui.ui.editors.PrettyView"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/document-attribute-g_16x16.png"
            id="compling.gui.grammargui.editors.prettyView"
            name="Pretty View">
      </editor>
      <editor
            class="compling.gui.grammargui.ui.editors.ConstructionEditor"
            contributorClass="compling.gui.grammargui.ui.editors.ConstructionEditorActionContributor"
            default="true"
            extensions="grm, sch, ont,  def, inst"
            filenames="ont, ontology"
            icon="icons/document-attribute-g_16x16.png"
            id="compling.gui.grammargui.editors.constructionEditor"
            name="Construction Editor">
      </editor>
      <editor
            class="compling.gui.grammargui.ui.editors.AnalysisEditor"
            default="true"
            icon="icons/e/metharg_obj.gif"
            id="compling.gui.grammargui.editors.analyzer"
            name="Analyzer Editor">
      </editor>
      <editor
            class="compling.gui.grammargui.ui.editors.AnalysisEditor2"
            default="false"
            icon="icons/e/metharg_obj.gif"
            id="compling.gui.grammargui.editors.analyzerEditor2"
            name="Analyzer Editor 2">
      </editor>
      <editor
            class="compling.gui.grammargui.ui.editors.AnalysisEditor3"
            contributorClass="compling.gui.grammargui.ui.editors.AnalysisEditor3Contributor"
            default="true"
            extensions="test"
            filenames="grammar.test, .test"
            icon="icons/e/metharg_obj.gif"
            id="compling.gui.grammargui.editors.testSentence"
            name="Test Sentence Editor">
      </editor>
      
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view
      		allowMultiple="false"
      		category="compling.gui.grammargui.categories.ontology"
      		class="compling.gui.grammargui.ui.views.OntologyUtilities"
      		icon="icons/latticeIcon.ico"
      		id="compling.gui.grammargui.views.ontologyUtilities"
      		name="Ontology Utilities" >
      </view>
   	  <view
   	        allowMultiple="false"
   	        category="compling.gui.grammargui.categories.token"
            class="compling.gui.grammargui.ui.views.TokenView"
            icon="icons/tokenTest.ico"
            id="compling.gui.grammargui.views.tokenView"
            name="Token Adder">
      </view>
      
      <view
   	        allowMultiple="false"
   	        category="compling.gui.grammargui.categories.token"
            class="compling.gui.grammargui.ui.views.LexiconView"
            icon="icons/lexeme.ico"
            id="compling.gui.grammargui.views.lexicon"
            name="Lexicon Viewer">
      </view>
      <!--
      <view
         	allowMultiple="false"
   	        category="compling.gui.grammargui.categories.ontology"
            class="compling.gui.grammargui.ui.views.OntologyLatticeView"
            icon="icons/latticeIcon.ico"
            id="compling.gui.grammargui.views.ontologylatticeview"
            name="Ontology Lattice">
      </view>
      -->
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.construction"
            class="compling.gui.grammargui.ui.views.ConstructionTreeView"
            icon="icons/constr16-1.png"
            id="compling.gui.grammargui.views.constructionHierarchy"
            name="Constructions">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.schema"
            class="compling.gui.grammargui.ui.views.SchemaTreeView"
            icon="icons/schema16-1.png"
            id="compling.gui.grammargui.views.schemaHierarchy"
            name="Schemas">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.ontology"
            class="compling.gui.grammargui.ui.views.OntologyTreeView"
            icon="icons/ont16-1.png"
            id="compling.gui.grammargui.views.ontologyHierarchy"
            name="Ontology">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.map"
            class="compling.gui.grammargui.ui.views.MapTreeView"
            icon="icons/map16-1.png"
            id="compling.gui.grammargui.views.MapHierarchy"
            name="Maps"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.SituationTreeView"
            icon="icons/situation6.png"
            id="compling.gui.grammargui.views.SituationHierarchy"
            name="Situations"
            restorable="true">
      </view>
      <!--
      <view
            allowMultiple="true"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.views.ConstructionView"
            icon="icons/constr16.png"
            id="compling.gui.grammargui.views.construction"
            name="Construction">
      </view>
      <view
            allowMultiple="true"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.views.SchemaView"
            icon="icons/schema16.png"
            id="compling.gui.grammargui.views.schema"
            name="Schema">
      </view>
      <view
            allowMultiple="true"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.views.OntologyView"
            icon="icons/ont16.png"
            id="compling.gui.grammargui.views.ontology"
            name="Ontology">
      </view>
      -->
      <category
            id="compling.gui.grammargui.categories.ecg"
            name="ECG">
      </category>
      <view
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.AnalyzerViewPart"
            icon="icons/e/metharg_obj.gif"
            id="compling.gui.grammargui.views.Analyzer"
            name="Analyzer">
      </view>
      <view
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.AnalyzerViewPart2"
            icon="icons/e/metharg_obj.gif"
            id="compling.gui.grammargui.views.analyzer2"
            name="A Better Analyzer View"
            restorable="true">
      </view>
      <view
            category="compling.gui.grammargui.categories.ecg"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/e/class_hi.gif"
            id="compling.gui.grammargui.views.commonExplorer"
            name="Grammar Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.TypeSystemNodeView"
            icon="icons/elements_obj.gif"
            id="compling.gui.grammargui.views.contentView"
            name="Content"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.GrammarTreeView"
            icon="icons/e/jtypeassist_co.gif"
            id="compling.gui.grammargui.views.GrammarTreeView"
            name="Grammar Structure"
            restorable="true">
      </view>
      <category
            id="compling.gui.grammargui.categories.construction"
            name="Construction"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
      		id="compling.gui.grammargui.categories.token"
      		name="Token"
      		parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
            id="compling.gui.grammargui.categories.schema"
            name="Schema"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
            id="compling.gui.grammargui.categories.ontology"
            name="Ontology"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
            id="compling.gui.grammargui.categories.map"
            name="Map"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
            id="compling.gui.grammargui.categories.situation"
            name="Situation"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <category
            id="compling.gui.grammargui.categories.test"
            name="Testing"
            parentCategory="compling.gui.grammargui.categories.ecg">
      </category>
      <view
            allowMultiple="false"
            category="compling.gui.grammargui.categories.ecg"
            class="compling.gui.grammargui.ui.views.TestRunnerView"
            icon="icons/test.gif"
            id="compling.gui.views.TestRunnerView"
            name="Sentence Test Runner View"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer 
        viewerId="compling.gui.grammargui.views.commonExplorer">
           <popupMenu
                allowsPlatformContributions="true"
                id="compling.gui.grammargui.views.commonExplorer#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>             
          </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="compling.gui.grammargui.views.commonExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/> 
         </includes>
      </viewerContentBinding>
     <viewerActionBinding viewerId="compling.gui.grammargui.views.commonExplorer">
      <includes>
        <actionExtension pattern="org.eclipse.ui.navigator.resources.*"/>
      </includes>
    </viewerActionBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="compling.gui.grammargui.TreeContentProvider1"
            id="compling.gui.grammargui.navigatorContent1"
            labelProvider="compling.gui.grammargui.LabelProvider1"
            name="name">
      </navigatorContent>
   </extension>
   -->
   <!--extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="compling.gui.grammargui.contributions.analyzeSentence"
            targetID="compling.gui.grammargui.views.Analyzer">
         <action
               class="compling.gui.grammargui.ui.actions.AnalyzeSentenceActionDelegate"
               disabledIcon="icons/d/run_exc.gif"
               enablesFor="1"
               icon="icons/e/run_exc.gif"
               id="compling.gui.grammargui.actions.analyzeSentence"
               label="&amp;Analyze"
               menubarPath="additions"
               mode="FORCE_TEXT"
               toolbarPath="additions"
               tooltip="Analyze or reanalyze the sentence below">
         </action>
      </viewContribution>
      <viewContribution
            id="compling.gui.grammargui.contributions.analyzeSentence"
            targetID="compling.gui.grammargui.views.analyzer2">
         <action
               class="compling.gui.grammargui.ui.actions.AnalyzeSentenceActionDelegate"
               disabledIcon="icons/d/run_exc.gif"
               enablesFor="1"
               icon="icons/e/run_exc.gif"
               id="compling.gui.grammargui.actions.analyzeSentence"
               label="&amp;Analyze"
               menubarPath="additions"
               mode="FORCE_TEXT"
               toolbarPath="additions"
               tooltip="Analyze or reanalyze the sentence below">
         </action>
      </viewContribution>
   </extension-->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="ECG Workbench Commands"
            id="compling.gui.grammargui.commands"
            name="ECG Workbench">
      </category>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Open an ECG Preferences File"
            id="compling.gui.grammargui.commands.OpenFile"
            name="Open">
      </command>
      <command
            categoryId="compling.gui.grammargui.commands"
            description="Check the currently loaded grammar for errors"
            id="compling.gui.grammargui.actions.CheckGrammar"
            name="Check Grammar">
      </command>
      <command
            categoryId="compling.gui.grammargui.commands"
            description="Opens the Install Wizard"
            id="compling.gui.grammargui.commands.Update"
            name="Update...">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Close an ECG Preferences File"
            id="compling.gui.grammargui.commands.CloseFile"
            name="Close">
      </command>
      <command
            categoryId="org.eclipse.ui.category.update"
            description="Downloads Updates for this Application "
            id="compling.gui.grammargui.commands.Update"
            name="Update Software...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="compling.gui.grammargui.commands.OpenFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="compling.gui.grammargui.actions.CheckGrammar"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="compling.gui.grammargui.ui.editors.EcgDocumentSetupParticipant"
            contentTypeId="compling.gui.grammargui.documents.ECGDocument"
            extensions="grm, sch, ont"
            fileNames="ont, ontology">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="compling.gui.grammargui.ui.editors.HyperlinkDetector"
            id="compling.gui.grammargui.editor.hyperlinkDetector"
            modifierKeys="M1"
            name="ECG Editor Hyperlink Detector"
            targetId="compling.gui.grammargui.hyperlinks.target">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="compling.gui.grammargui.hyperlinks.target"
            name="ECG Hyperlink Target">
         <context
               type="org.eclipse.ui.texteditor.ITextEditor">
         </context>
      </target>
   </extension>
   <extension
         id="grammarBuilder"
         name="ECG Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="compling.gui.grammargui.builder.GrammarBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="grammarNature"
         name="ECG Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="compling.gui.grammargui.builder.GrammarNature">
         </run>
      </runtime>
      <builder
            id="compling.gui.grammarBuilder">
      </builder>
   </extension>
   <extension
         id="grammarProblem"
         name="Grammar Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="Grammar Problem">
         <markerTypeReference
               id="compling.gui.grammarProblem">
         </markerTypeReference>
      </markerTypeCategory>
      <markerContentGeneratorExtension
            generatorId="org.eclipse.ui.ide.problemsGenerator"
            id="compling.gui.grammargui.problemsGeneratorExtension">
         <markerGrouping
               id="compling.gui.grammargui.severityGrouping"
               label="Severity">
         </markerGrouping>
      </markerContentGeneratorExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="compling.gui.grammarProblem"
            name="compling.gui.grammargui.grammarError">
      </type>
      <type
            markerSeverity="1"
            markerType="compling.gui.grammarProblem"
            name="compling.gui.grammargui.grammarWarning">
      </type>
      <type
            markerSeverity="0"
            markerType="compling.gui.grammarProblem"
            name="compling.gui.grammargui.grammarInfo">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="compling.gui.grammargui.grammarError"
            colorPreferenceKey="myAppIndicationColor"
            colorPreferenceValue="255,0,0"
            highlightPreferenceKey="myAppHighlighting"
            highlightPreferenceValue="false"
            icon="icons/open.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTargetKey="ismyAppRecordGoToNextNavigationTarget"
            isGoToPreviousNavigationTargetKey="ismyAppGoToPreviousNavigationTarget"
            label="myApp Issue Marker"
            overviewRulerPreferenceKey="myAppIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="showmyAppInNextPrevDropdownToolbarAction"
            symbolicIcon="error"
            textPreferenceKey="myAppIndication"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="myAppIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>   
   -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="compling.gui.grammargui.builder.GrammarFileLabelDecorator"
            icon="icons/error_co.gif"
            id="compling.gui.grammargui.decorators.problem"
            label="Grammar Problem"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="compling.gui.application"
            description="An editor for Embodied Construcion Grammars"
            name="ECG Workbench">
         <property
               name="appName"
               value="ECG Workbench">
         </property>
         <property
               name="windowImages"
               value="icons/constr16.png,icons/constr32.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/elements_obj.gif"
            id="compling.gui.grammargui.images.ECGNature"
            natureId="compling.gui.grammargui.grammarNature">
      </image>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="compling.gui.grammargui.ConsoleFactory"
            label="label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="ont"
            type="text">
      </fileTypes>
      <fileTypes
            extension="grm"
            type="text">
      </fileTypes>
      <fileTypes
            extension="sch"
            type="text">
      </fileTypes>
      <fileTypes
            extension="prefs"
            type="text">
      </fileTypes>
      <fileTypes
            extension="inst"
            type="text">
      </fileTypes>
      <fileTypes
            extension="insts"
            type="text">
      </fileTypes>
      <fileTypes
            extension="def"
            type="text">
      </fileTypes>
      <fileTypes
            extension="test"
            type="text">
      </fileTypes>
      <fileTypes
            extension="owl"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="grm, sch, ont, def, inst, insts, owl"
            file-names="ont, ontology"
            id="compling.gui.grammargui.documents.ECGDocument"
            name="ECG Document">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="prefs"
            id="compling.gui.grammargui.documents.ECGPreferences"
            name="ECG Preferences File"
            priority="normal">
      </content-type>
   </extension>

</plugin>
